<html>
<head>
    <title>Sign In</title>
            
            
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/style.css' %}">
    <script src="{% static 'apptasklistmng/scripts/components/footer.js'%}" type="text/javascript" defer></script>
    <!-- <script src="{% static 'apptasklistmng/scripts/signin.js' %}" type="module"></script> -->
    <script src="{% static 'apptasklistmng/scripts/components/header.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'apptasklistmng/scripts/weather.js' %}" type="text/javascript" defer></script>

</head>
<body>
    <header-component></header-component>

    <div class="tasks_list_title">Sign In</div>
         
    <main>
    <div class="signin">
        <table>
            <form class="signinform" id="signinform" action="{% url 'apptasklistmng:signinprocess'  %}" method="POST"> 
                {% csrf_token %}  
                <tr>
                    <td>
                        Username:
                    </td>
                    <td><input type="text" id="username" name="usernickname"  size="30" required></input>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td><input type="password" id="password" name="userpwd" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*"  size="30" required></input>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Sign in</button></td>
                </tr>
            </form>
            <tr>
                <td colspan="2"><p id="log"></p></td>
            </tr>
        </table>
        <br><br>
    </div>
    

    <button type="button" id='weatherButton'>Get weather</button>
    <p id="weatherDescript"></p>
    <img id="weathericon" src=""/>

    {% if errormsg %}
         <script>alert("{{ errormsg }}")</script> 
    {% endif %}
    </main>
    <footer-component></footer-component>
</body>
</html>
