<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/style.css' %}">
<!-- <script src="{% static 'apptasklistmng/scripts/signon.js' %}" type="module"></script> -->
<script src="{% static 'apptasklistmng/scripts/components/footer.js' %}" type="text/javascript" defer></script>
<script src="{% static 'apptasklistmng/scripts/components/header.js' %}" type="text/javascript" defer></script>

<head>
    <title>Sign on</title>
    <!-- <link rel="stylesheet" href=".css"> -->
</head>
<body>
    <header-component></header-component>
    
    <div class="tasks_list_title">Sign On</div>
           
    <div class="signon">
    <table id="signontable">
        <form class="signonform" id="signonform" action="{% url 'apptasklistmng:signonprocess'  %}" method="POST">
            {% csrf_token %} 
            <tr>
                <td >
                    <label for="id_userfirstname">
                        First Name:
                    </label>
                </td>
                <td><input type="text" id="id_userfirstname" name="userfirstname" maxlength="20"  required/></input>
                </td>
            </tr>
            <tr>
                <td >
                    <label for="id_usermiddlename">
                        Middle Name:
                    </label>
                </td>
                <td><input type="text" id="id_usermiddlename" name= "usermiddlename" maxlength="20" /></input>
                </td>
            </tr>
            <tr>
                <td >
                    <label for="id_userlastname">
                        Last Name:
                    </label>
                </td>
                <td><input type="text" id="id_userlastname" name="userlastname" maxlength="20"  required/></input>
                </td>
            </tr>
            <tr>
                <td >
                    <label for="id_usernickname">
                        Username:
                    </label>
                </td>
                <td><input type="text" id="id_usernickname" name="usernickname" maxlength="20"  required/></input>
                </td>
            </tr>
            <tr>
                <td >
                <label for="id_userpwd">
                    Password:
                </label>
                </td>
                <td><input type="password" id="id_userpwd" name="userpwd" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*" 
                        minlength="8"  maxlength="30" required></input> 
                    <i class="fa fa-question-circle" title="8 characters minimum; 
Consist of letters or numbers;
At least 1 Upper letter;
At least 1 lower letter;
At least 1 number."></i>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td><input type="email" id="id_useremail" pattern=".+@.+\..+" size="30" name="useremail" maxlength="30" required></input>
                </td>
            </tr>
            <tr>
                <td >
                    <label for="id_usergender">
                        Gender:
                    </label>
                </td>
                <td>
                    <select id="id_usergender" name="usergender">
                        <option value="none" selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">other</option>        
                    </select>
                    
                </td>
            </tr>
            
            <tr>
                <td><label for = "id_userdob">
                    DoB:
                    </label>
                </td>
                <td><input type="date" id="id_userdob" name="userdob"></input>
                </td>
            </tr>
            
        
            <tr>
                <td><button type="submit">Creat account</button></td>
            </tr>
        </form>
    </table>
    </div>

    
        
    <br><br>
       
<footer-component></footer-component>    
</body>

</html>
