<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/style.css' %}">
<script src="{% static 'apptasklistmng/scripts/components/header.js' %}" type="text/javascript" defer></script>
<script src="{% static 'apptasklistmng/scripts/components/footer.js' %}" type="text/javascript" defer></script>

<title>Something Incorrect</title>
</head>

<body>
<header-component></header-component>


<div class="tasks_list_title">Something Incorrect</div>
         
<p style="text-align: center;">
{{errormsg}}
</p>


<footer-component></footer-component> 
</body>
</html>